.btn {
  padding: 5px;
  margin: 5px;
  border: none;
  font-size: 20px;
  width: 50px;
}
.btn:hover {
  opacity: 0.5;
}
.Modal {
  background-color: white;
  text-align: center;
  height: 400px;
  width: 400px;
  position: absolute;
  left: 570px;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Edit {
  height: 500px;
  width: 700px;
  left: 470px;
  top: 110px;
}
.form-control {
  width: 350px;
}
.btn {
  width: 100px;
}
